@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:host {
  display: block;
  background-color: #f9f9f9;
  padding: 1rem 2rem;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #111;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin: 0 0 1em 0;
}

p:last-of-type {
  font-size: 0.95rem;
  color: #666;
  margin-top: 0.5em;
}
