.example-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #FFF6DA;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.example-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.example-container td,
.example-container th {
  padding: 12px;
  border: 1px solid #FFF6DA;
}

.example-container h2 {
  font-size: 1.3rem;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.example-container input {
  padding: 10px;
  font-size: 1rem;
  width: 200px;
  margin: 15px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.example-container input:focus {
  outline: none;
  border-color: #AD4A4A;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.4);
}

.example-container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #AD4A4A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.example-container button:hover {
  background-color: #e9877a;
  transform: scale(1.05);
}
.buttons-bottom {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
}


.example-container p {
  font-size: 1rem;
  text-align: center;
  color: #333;
  margin: 10px 0;
}

.passing {
  color: green;
  font-weight: bold;
}

.failing {
  color: red;
  font-weight: bold;
}

.example-7 th {
  background-color: #FFF6DA;   
  color: #000000;               
  padding: 12px 20px;          
  border-radius: 10px;       
  text-align: center;       
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.085); 
  border: 1px solid #FFF6DA; 
}


.status {
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;   
  width: 90px;             
  text-align: center;
}

.active-status {
  background-color: #2e8b57;
}

.inactive-status {
  background-color: #cc6c6c;
}
