<h2>List From Main</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    @for (user of httpusers; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.website }}</td>
      </tr>
    }
  </tbody>
</table>


<h2>Quotes List</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Quote</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    @for (quote of quotes.slice(0, 5); track quote.id) {
      <tr>
        <td>{{ quote.id }}</td>
        <td>{{ quote.quote }}</td>
        <td>{{ quote.author }}</td>
      </tr>
    }
  </tbody>
</table>
