nav {
  display: flex;
  gap: 20px;
  background-color: #FFF6DA;
  padding: 10px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color:black;
}

nav a:hover {
  background-color: #AD4A4A;
  transform: scale(1.1);
}

nav a.router-link-active {
  background-color: #ff5733;
}
